.navbar{
    
 background-color: bisque;   
    
}
    nav{
    display: flex;
    padding: 23px;
    justify-content: center;
    
}
ul{
    display: flex;
    gap: 5vw;
    list-style: none;
    cursor: pointer;
}
ul:hover{
    text-decoration: underline;
}